name: cpu-tests

on:
  pull_request:
  push:
    branches: main

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -e .
        wget https://www.hgreer.com/assets/slicer_mirror/RegLib_C01_1.nrrd
        wget https://www.hgreer.com/assets/slicer_mirror/RegLib_C01_2.nrrd
    - name: Test
      run: |
        unigradicon-register --fixed=RegLib_C01_2.nrrd --fixed_modality=mri --moving=RegLib_C01_1.nrrd --moving_modality=mri \
            --transform_out=trans.hdf5 --warped_moving_out=warped_C01_1.nrrd --io_iterations=None
        unigradicon-register --fixed=RegLib_C01_2.nrrd --fixed_modality=mri --moving=RegLib_C01_1.nrrd --moving_modality=mri \
            --transform_out=trans.hdf5 --warped_moving_out=warped_C01_1.nrrd --io_iterations=3
        unigradicon-warp --fixed=RegLib_C01_2.nrrd --moving=RegLib_C01_1.nrrd \
            --transform=trans.hdf5 --warped_moving_out=warped_2_C01_1.nrrd --nearest_neighbor
